n8n-trainer/lesson-01-if/workflows/lesson-01-if.json
{
  "name": "Lesson 01: IF Logic",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "testNumber",
              "value": 15
            }
          ]
        },
        "options": {}
      },
      "id": "set-number",
      "name": "Set Number",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.testNumber }}",
              "operation": "larger",
              "value2": 10
            }
          ]
        }
      },
      "id": "if-check",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "result",
              "value": "Большое число! Значение: {{ $json.testNumber }}"
            }
          ]
        },
        "options": {}
      },
      "id": "large-number",
      "name": "Large Number",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "result",
              "value": "Маленькое число! Значение: {{ $json.testNumber }}"
            }
          ]
        },
        "options": {}
      },
      "id": "small-number",
      "name": "Small Number",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Number": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Large Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Small Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "lesson-01-if",
  "meta": {
    "instanceId": "trainer"
  },
  "tags": [
    {
      "name": "lesson",
      "id": "1"
    },
    {
      "name": "beginner",
      "id": "2"
    }
  ]
}
